* {
  font-size: 1.1em;
}

html {
  font-family: sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
}

header {
  background-color: darkblue;
  color: white;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}

h1 {
  margin: 0.25em;
}

h2 {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid darkblue;
  border-bottom: 1px solid darkblue;
}

h2 span.title {
  margin: 0.25em;
}

h2 span#total {
  text-align: right;
  margin: 0.25em;
}

input,
button {
  padding: 0.25em;
}

.item {
  display: grid;
  grid-template-columns: min-content 4fr 1fr 1fr min-content min-content 2fr;
  justify-content: space-between;
  gap: 0.25em;
}

.item * {
  align-self: center;
}

.item .pointX,
.item .subtotal {
  text-align: right;
  margin-right: 0.25em;
}

.item .nb {
  text-align: center;
}

.item .del {
  cursor: pointer;
}

details {
  margin-bottom: 0.5em;
}

form {
  display: flex;
  justify-content: space-around;
  margin: 0.25em;
}

form .name {
  flex: 1;
  min-width: 8em;
}
form .point {
  width: 3em;
}
